
<div class="log">
  <h2>Login</h2>
</div>

<div class="bot-login">
  <form action="/auth/login" method="POST" id="form-container">
  <div class="form-group">
    <input id="username" type="text" name="username" class="form-control intp-sign as" placeholder="Your username">
  </div>
  <div class="form-group">
    <input id="password" type="password" name="password" class="a form-control intp-sign" placeholder="Your password"> 
    </div>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
<div class="bot-sign">
    <div>
     <button class="sign-bot relleno btn-outline-ind bt-log">LogIn</button>
    </div>
    <div class="log-sign">
      <a href="/auth/signup" class="btn-outline-ind btn-log">SignUp</a>
    </div>
</div>
</div>
  </form>