<h1>Movie4u</h1>

<a href="/auth/signup" class="btn btn-outline-primary">Sign Up</a>
<a href="/auth/login" class="btn btn-outline-success">Login</a>
<a href="/auth/logout" class="btn btn-outline-danger">LogOut</a>