
<div class="bot-home align-middle">
    <div>
<a href="/auth/signup" class="btn btn-outline-primary btn-lg">Sign Up</a>
</div>
<div>

<a href="/auth/login" class="btn btn-outline-primary btn-block">Login</a>
</div>
</div>