/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text");
@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
/* COLORS */

$micolor1: #4a5562;
$colortextnav: #ffffff;
$textapp: "Libre Barcode 128 Text", cursive;
$colorred: rgba(245, 136, 138, 0.7);
$colorborder: #f5888a;
$textcontenct: "Slabo 27px", serif;

body {
  background-color: $micolor1;
  padding: 0;
  margin: 0;
  font: 14px $textcontenct;
  max-width: 100%;
  height: 100%;
}

.pos-f-t {
  width: 100%;
  .bg-dark {
    background-color: $colorred !important;
  }
  h1 {
    font-family: $textapp;
    color: $colortextnav;
    font-size: 2.3rem;
    margin-bottom: 0;
  }
  .fa-home {
    color: $colortextnav;
    font-size: 2rem;
  }
  a {
    color: $colortextnav;
    font-family: $textcontenct;
    font-size: 1.5em;
  }
  .navbar-toggler-icon {
    font-size: 1em;
  }
}
.bot-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    border-color: $colorborder;
    padding: 40px 188px;
    font-size: 5rem;
    margin-top: 100px;
    color: $colortextnav;
  }
}
.btn-outline-ind {
  background-color: $colorred;
}

img {
  max-width: 100%;
}

.p-4 li {
  text-align: right;
  list-style: none;
}
.nav-link {
  font-size: 1.5em;
  padding: 0.3rem 0.5rem;
}
#container-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.container-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;

  h4 {
    color: $colortextnav;
    font-family: $textcontenct;
    font-size: 3em;
  }
}
.premier-list {
  h1 {
    font-size: 4em;
  }
  color: $colortextnav;
  font-family: $textcontenct;
  margin: 2% 0 2% 4%;
  text-align: center;
}

.movi {
  width: 49%;
  margin-bottom: 7px;
}
img {
  width: 100%;
  height: 250px;
}

.list {
  h1 {
    color: $colortextnav;
    font-family: $textcontenct;
    font-size: 8em;
    margin-top: 18%;
    text-align: center;
  }
  .btn {
    font-size: 3rem;
    border-width: 2px;
  }
  .bot-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
  }
}

a.btn-outline-corp:hover {
  background-color: $colorred;
}

.movie-item {
  width: 50%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.search-bar {
  height: 100px;
  margin-top: 2%;
  width: 95%;
  margin: 20px auto;
}

#input-title {
  font-size: 2.5rem;
}

.lupa {
  font-size: 45px;
}
.lupa-nav {
  font-size: 12px;
}

a.btn-outline-corp:hover {
  background-color: $colorred;
}
.sign-container {
  text-align: left;
  font-family: $textcontenct;
  color: $colortextnav;
  font-size: 1em;
  margin-left: 25px;
}
.form-group {
  margin-bottom: 0rem;
}
.sign {
  h2 {
    font-size: 3em;
    font-family: $textcontenct;
    color: $colortextnav;
    text-align: center;
    margin: 6% auto 6% auto;
  }
}
.intp-sign {
  width: 90%;
  font-size: 1.5em;
  border: 3px solid $colorborder;
  margin: 35px auto;
  color: white;
  background-color: $micolor1;
}
.intp-sign::placeholder {
  font-family: "Roboto", sans-serif;
  color: #c8cacc;
  font-weight: 100;
}
.photo {
  margin-top: 30px;
  text-align: center;
  .btn {
    font-family: "Roboto", sans-serif;
    font-size: 0.7em;
  }
}
.sign-bot {
  font-size: 1.5rem;
  border-width: 2px;
  padding: 20px;
  border-radius: 20px;
  border-style: none;
  color: $colortextnav;
  margin-bottom: 18%;
}
.fa-camera {
  font-size: 3rem;
  vertical-align: middle;
}
.titulo-index {
  font-size: 10rem;
  color: white;
  text-align: center;
  margin-top: 35%;
}
.btn-log {
  font-size: 1.5rem;
  border-width: 2px;
  padding: 17px 66px;
  border-radius: 20px;
  border-style: none;
  color: $colortextnav;
}
.bot-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}
.b-sign {
  margin-top: 30px;
  p {
    font-size: 3rem;
  }
  .bt-log {
    padding: 25px 75px;
  }
}

.titulo-login {
  font-size: 10rem;
  color: white;
  text-align: center;
}
.pepe {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.bot-login {
  display: flex;
  flex-direction: column;
}
.log h2 {
  font-size: 5em;
  font-family: "Slabo 27px", serif;
  color: #ffffff;
  text-align: center;
  margin-top: 13%;
  margin-bottom: 6%;
}
.log-sign {
  margin-top: 4%;
}
.relleno {
  width: 208px;
  padding: 16px;
}
.profile {
  h1 {
    font-size: 7em;
    font-family: "Slabo 27px", serif;
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
.user-campos {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  .us-name,
  .us-email {
    margin-left: 20%;
    margin-top: 5%;
    h5 {
      text-align: left;
      font-family: $textcontenct;
      color: $colortextnav;
      font-size: 5em;
    }
    .camp {
      color: $colorred;
      font-size: 3rem;
      margin-right: 15px;
    }
  }
  .us-img {
    img {
      width: 60%;
      height: 600px;
      object-fit: contain;
      margin-left: 3%;
    }
  }
  .bot-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    .list-profile {
      margin-top: 3%;
      margin-bottom: 8%;
    }
  }
}

.watch {
  h1 {
    font-size: 7em;
    font-family: "Slabo 27px", serif;
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
.movies-watch {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  .movie-img {
    img {
      width: 30%;
      height: 300px;
      object-fit: contain;
      margin-left: 3%;
    }
  }
  .tittle {
    display: left;
  }
}
