body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}
.p-4 li{
  text-align: right;
  list-style: none;
}
.nav-link {
  font-size: 1.5em;
}
#container-movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#container-movies div{
  width: 30%;
}
