
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul>
      <li class="nav-item active">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Random</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Movies</a>
      </li>
    </ul>
      {{!-- <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span> --}}
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
      <a class="nav-link" href="/profile">Back</a>
      <h1>Movie4u</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      

    </button>
  </nav>
</div>
{{#each data}}
<h4>{{title}}</h4>
<img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="">
{{/each}}