    <div class = "premier-list">
    <h1>Premieres</h1>
    </div>
<div class="container-home">
    {{#each data}}
        <div class = "movi">
            <a href="/movies/show/{{id}}">
            {{#if poster_path}}
                <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" >
            {{else}}
                <img src="images/default-movie.png" alt="" >
            {{/if}}    
            </a>
        </div>
    {{/each}}
</div>