<div class="profile">
  <h1>Profile</h1>
  </div>
  <div class ="user-campos">
  <div class ="us-img">
  <img src="{{user.photo}}" alt="{{user.username}}-profile-photo">
  </div>
  <div class="us-name">
  <h5><span class="camp">User:</span> {{user.username}}</h5>
  </div>
  <div class="us-email">
  <h5><span class="camp">Email: </span>{{user.email}}</h5>
  </div>
 <div class="bot-profile">
   <div class="list-profile">
  <a href="/list" class="btn-outline-ind btn-log">Lists</a>
  </div>
  <div class="random-profile">
  <a href="/random" class="btn-outline-ind btn-log">Random Movie</a>
  </div>
  </div>
  </div>