
  <h1>Profile</h1>

  <h5>Username: {{user.username}}</h5>
  <h5>Email: {{user.email}}</h5>
  <img src="{{user.photo}}" alt="{{user.username}}-profile-photo">

  <a href="/list" class="btn btn-outline-danger">List</a>
  <a href="/list/random" class="btn btn-outline-danger">Random Movie</a>