<h1>Search Movies</h1>

<label for="title">By Title</label>
<input type="text" name="title" id="input-title" placeholder="Title" required>
<br>
<label for="year">By Year</label>
<input type="text" name="year" id="input-year" placeholder="Year">
<br>
<label for="genre">By Genre</label>
<input type="text" name="genre" id="input-genre" placeholder="Genre">

<div id="container-movies">

</div>