
<div class="search-bar input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-search lupa"></i></span>
  </div>
  <input type="text" name="title" id="input-title" placeholder="Title" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>


<div id="container-movies">

</div>