<div class="list">
    <h1>List</h1>
<div class="bot-home align-middle bot-list">
    <div>
        <a href="/list/watched-list" class="btn btn-lg btn-outline-corp">Watched Movies</a>
    </div>
    <div>
        <a href="/list/to-watch" class="btn btn-outline-corp btn-block">Movies to Watch</a>
    </div>
</div>
</div>