
{{#with data}}

<h3>{{movieId.title}}</h3>
<img src="https://image.tmdb.org/t/p/w500{{movieId.poster}}" alt="" width=200>
<p>{{movieId.overview}}</p>
<a href="/list/to-watch/show/{{id}}/delete" class="btn btn-danger">Delete</a>
{{/with}}