
  <h1>Watched Movies</h1>

  {{#each movieWatched}}
  <p>{{title}}</p>
  <p>{{movieId.title}}</p>
  <p>{{status}}</p>
  <a href="/list/watched-list/show/{{_id}}" class="btn btn-danger">Show details</a>
  {{/each}}